<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{m/fragment :: head(title = 'ホーム', scripts = ~{}, links = ~{::link})}">
	<link th:href="@{/css/m/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="~{m/fragment :: c_header}"></div>

	<div class="main">
		<h1>ようこそ！Fes2023へ！</h1>
		<h1 th:if="${cssnest != null}" th:text="${cssnest}" style="color: red;"></h1>
		<div class="img">
			<img src="/img/home/poster.png" class="poster">
			<img src="/img/home/map.png" class="map">
			<img src="/img/home/poster.png" class="poster">
		</div>
		<a th:href="@{/yn}" class="toyn">あなたにおすすめのボードゲームはこちら</a>
	</div>
</body>
</html>