@charset "UTF-8";
body {
	margin: 0;
}
img {
	float: left;
	width: 5em;
	height: 5em;
}
form {
	margin: 0 auto 40px auto;
	width: fit-content;
}
input[type="submit"] {
	margin-top: 40px;
	width: 80%;
	height: 120px;
	font-size: 500%;
}