<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{m/fragment :: head(title = '従業員ボードゲーム', scripts = ~{::script}, links = ~{::link})}">
	<link th:href="@{/css/e/boardgame.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/e/boardgame.js}" type="text/javascript"></script>
</head>
<body>
	<div th:replace="~{m/fragment :: e_header}"></div>
	<div class="main">
		<h1>ボードゲーム一覧</h1>
			<form th:action="@{/e/boardgame}" th:object="${boardGameListParam}" th:method="post">
				<table>
					<tr>
						<th>画像</th>
						<th>名前</th>
						<th>英名</th>
						<th>画像URL</th>
						<th>説明</th>
						<th>人数</th>
						<th>色</th>
					</tr>
					<tr th:each="bg, st : *{bgList}">
						<input type="hidden" th:field="*{bgList[__${st.index}__].id}">
						<td><img th:src="${bg.pic}"></td>
						<td><input type="text" th:field="*{bgList[__${st.index}__].name}"></td>
						<td><input type="text" th:field="*{bgList[__${st.index}__].enName}"></td>
						<td><input type="text" th:field="*{bgList[__${st.index}__].pic}"></td>
						<td><input type="text" th:field="*{bgList[__${st.index}__].desc}"></td>
						<td><input type="text" th:field="*{bgList[__${st.index}__].player_low}"><input type="text" th:field="*{bgList[__${st.index}__].player_high}"></td>
						<td><input type="color" th:field="*{bgList[__${st.index}__].color}"></td>
						<td><input type="checkbox" th:field="*{bgList[__${st.index}__].deleteFlag}"></td>
					</tr>
					<tr th:with="last=*{bgList.size}">
						<td><img src=""></td>
						<td><input type="text" th:field="*{bgList[__${last}__].name}"></td>
						<td><input type="text" th:field="*{bgList[__${last}__].enName}"></td>
						<td><input type="text" th:field="*{bgList[__${last}__].pic}"></td>
						<td><input type="text" th:field="*{bgList[__${last}__].desc}"></td>
						<td><input type="text" th:field="*{bgList[__${last}__].player_low}"><input type="text" th:field="*{bgList[__${last}__].player_high}"></td>
						<td><input type="color" th:field="*{bgList[__${last}__].color}"></td>
					</tr>
				</table>
			<input type="submit" value="更新">
		</form>
	</div>
</body>
</html>