<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{m/fragment :: head(title = '従業員テーブル', scripts = ~{::script}, links = ~{::link})}">
	<link th:href="@{/css/e/table.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/e/table.js}" type="text/javascript"></script>
</head>
<body>
	<div th:replace="~{m/fragment :: e_header}"></div>

	<div class="main">
		<form th:action="@{/e/table}" th:object="${tableListParam}" th:method="post">
			<table>
				<tr th:each="tableRow, st : *{tableList}">
					<td th:each="cell, st2 : ${tableRow}" th:style="|background-color: ${cell.color}|">
						<input type="hidden" th:name="tableList[__${st.index}__][__${st2.index}__].row" th:value="${st.index}">
						<input type="hidden" th:name="tableList[__${st.index}__][__${st2.index}__].column" th:value="${st2.index}">
						<select th:field="*{tableList[__${st.index}__][__${st2.index}__].id}"/>
							<option value="0"></option>
							<option th:each="ty, st3 : ${tyList}" th:value="${ty.id}" th:text="${ty.name}" th:selected="${ty.id == cell.id}"></option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" value="変更">
		</form>
		<div class="bglist">
			<ul>
				<li th:each="ty : ${tyList}">
					<div class="colorBox" th:style="|background-color: ${ty.color}|"></div>
					<span th:text="${ty.name}" style="float: left"></span>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>